html, body {
    height: 100%;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    display: flex;
    flex-direction:column;
}


header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
    text-align: center;
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}


nav menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
nav menu li {
    margin: 0 15px;
}
nav menu li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.5s ease;
}
nav menu li a:hover {
    background-color: #45a049;
}



main {
    flex-grow: 1;
}



footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    margin-top: 30px;
}
footer a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}
footer a:hover {
    text-decoration: underline;
}